/* -- import Roboto Font ---------------------------- */
@import
	"https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic"
	;
/* -- Box model ------------------------------- */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* -- Demo style ------------------------------- */
html, body {
	position: relative;
	min-height: 100%;
	height: 100%;
}

html {
	position: relative;
	overflow-x: hidden;
	margin: 16px;
	padding: 0;
	min-height: 100%;
	font-size: 62.5%;
}

body {
	font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial',
		sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.4rem;
	line-height: 2rem;
	letter-spacing: 0.01rem;
	color: #212121;
	background-color: #f5f5f5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

#demo {
	margin: 20px auto;
	max-width: 960px;
}

#demo h1 {
	font-size: 2.4rem;
	line-height: 3.2rem;
	letter-spacing: 0;
	font-weight: 300;
	color: #212121;
	text-transform: inherit;
	margin-bottom: 1rem;
	text-align: center;
}

#demo h2 {
	font-size: 1.5rem;
	line-height: 2.8rem;
	letter-spacing: 0.01rem;
	font-weight: 400;
	color: #212121;
	text-align: center;
}

.shadow-z-1 {
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0
		rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0
		rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0
		rgba(0, 0, 0, 0.24);
}
/* -- Table style -------------- */
.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 2rem;
	background-color: #fff;
}

.table>thead>tr, .table>tbody>tr, .table>tfoot>tr {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	text-align: left;
	padding: 1.6rem;
	vertical-align: top;
	border-top: 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.table>thead>tr>th {
	font-weight: 400;
	color: #757575;
	vertical-align: bottom;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th,
	.table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td,
	.table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td
	{
	border-top: 0;
}

.table>tbody+tbody {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.table .table {
	background-color: #fff;
}

.table .no-border {
	border: 0;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th,
	.table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td,
	.table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
	padding: 0.8rem;
}

.table-bordered {
	border: 0;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th,
	.table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td,
	.table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	border: 0;
	border-bottom: 1px solid #e0e0e0;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
	border-bottom-width: 2px;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th
	{
	background-color: #f5f5f5;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
	background-color: rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 768px) {
	.table-responsive-vertical>.table {
		margin-bottom: 0;
		background-color: transparent;
	}
	.table-responsive-vertical>.table>thead, .table-responsive-vertical>.table>tfoot
		{
		display: none;
	}
	.table-responsive-vertical>.table>tbody {
		display: block;
	}
	.table-responsive-vertical>.table>tbody>tr {
		display: block;
		border: 1px solid #e0e0e0;
		border-radius: 2px;
		margin-bottom: 1.6rem;
	}
	.table-responsive-vertical>.table>tbody>tr>td {
		background-color: #fff;
		display: block;
		vertical-align: middle;
		text-align: right;
	}
	.table-responsive-vertical>.table>tbody>tr>td[data-title]:before {
		content: attr(data-title);
		float: left;
		font-size: inherit;
		font-weight: 400;
		color: #757575;
	}
	.table-responsive-vertical.shadow-z-1 {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.table-responsive-vertical.shadow-z-1>.table>tbody>tr {
		border: none;
		-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0
			rgba(0, 0, 0, 0.24);
		-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0
			rgba(0, 0, 0, 0.24);
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0
			rgba(0, 0, 0, 0.24);
	}
	.table-responsive-vertical>.table-bordered {
		border: 0;
	}
	.table-responsive-vertical>.table-bordered>tbody>tr>td {
		border: 0;
		border-bottom: 1px solid #e0e0e0;
	}
	.table-responsive-vertical>.table-bordered>tbody>tr>td:last-child {
		border-bottom: 0;
	}
	.table-responsive-vertical>.table-striped>tbody>tr>td,
		.table-responsive-vertical>.table-striped>tbody>tr:nth-child(odd) {
		background-color: #fff;
	}
	.table-responsive-vertical>.table-striped>tbody>tr>td:nth-child(odd) {
		background-color: #f5f5f5;
	}
	.table-responsive-vertical>.table-hover>tbody>tr:hover>td,
		.table-responsive-vertical>.table-hover>tbody>tr:hover {
		background-color: #fff;
	}
	.table-responsive-vertical>.table-hover>tbody>tr>td:hover {
		background-color: rgba(0, 0, 0, 0.12);
	}
}

.table-striped.table-mc-red>tbody>tr:nth-child(odd)>td, .table-striped.table-mc-red>tbody>tr:nth-child(odd)>th
	{
	background-color: #fde0dc;
}

.table-hover.table-mc-red>tbody>tr:hover>td, .table-hover.table-mc-red>tbody>tr:hover>th
	{
	background-color: #f9bdbb;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-red>tbody>tr>td,
		.table-responsive-vertical .table-striped.table-mc-red>tbody>tr:nth-child(odd)
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-striped.table-mc-red>tbody>tr>td:nth-child(odd)
		{
		background-color: #fde0dc;
	}
	.table-responsive-vertical .table-hover.table-mc-red>tbody>tr:hover>td,
		.table-responsive-vertical .table-hover.table-mc-red>tbody>tr:hover {
		background-color: #fff;
	}
	.table-responsive-vertical .table-hover.table-mc-red>tbody>tr>td:hover {
		background-color: #f9bdbb;
	}
}

.table-striped.table-mc-pink>tbody>tr:nth-child(odd)>td, .table-striped.table-mc-pink>tbody>tr:nth-child(odd)>th
	{
	background-color: #fce4ec;
}

.table-hover.table-mc-pink>tbody>tr:hover>td, .table-hover.table-mc-pink>tbody>tr:hover>th
	{
	background-color: #f8bbd0;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-pink>tbody>tr>td,
		.table-responsive-vertical .table-striped.table-mc-pink>tbody>tr:nth-child(odd)
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-striped.table-mc-pink>tbody>tr>td:nth-child(odd)
		{
		background-color: #fce4ec;
	}
	.table-responsive-vertical .table-hover.table-mc-pink>tbody>tr:hover>td,
		.table-responsive-vertical .table-hover.table-mc-pink>tbody>tr:hover {
		background-color: #fff;
	}
	.table-responsive-vertical .table-hover.table-mc-pink>tbody>tr>td:hover
		{
		background-color: #f8bbd0;
	}
}

.table-striped.table-mc-purple>tbody>tr:nth-child(odd)>td,
	.table-striped.table-mc-purple>tbody>tr:nth-child(odd)>th {
	background-color: #f3e5f5;
}

.table-hover.table-mc-purple>tbody>tr:hover>td, .table-hover.table-mc-purple>tbody>tr:hover>th
	{
	background-color: #e1bee7;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-purple>tbody>tr>td,
		.table-responsive-vertical .table-striped.table-mc-purple>tbody>tr:nth-child(odd)
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-striped.table-mc-purple>tbody>tr>td:nth-child(odd)
		{
		background-color: #f3e5f5;
	}
	.table-responsive-vertical .table-hover.table-mc-purple>tbody>tr:hover>td,
		.table-responsive-vertical .table-hover.table-mc-purple>tbody>tr:hover
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-hover.table-mc-purple>tbody>tr>td:hover
		{
		background-color: #e1bee7;
	}
}

.table-striped.table-mc-deep-purple>tbody>tr:nth-child(odd)>td,
	.table-striped.table-mc-deep-purple>tbody>tr:nth-child(odd)>th {
	background-color: #ede7f6;
}

.table-hover.table-mc-deep-purple>tbody>tr:hover>td, .table-hover.table-mc-deep-purple>tbody>tr:hover>th
	{
	background-color: #d1c4e9;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-deep-purple>tbody>tr>td,
		.table-responsive-vertical .table-striped.table-mc-deep-purple>tbody>tr:nth-child(odd)
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-striped.table-mc-deep-purple>tbody>tr>td:nth-child(odd)
		{
		background-color: #ede7f6;
	}
	.table-responsive-vertical .table-hover.table-mc-deep-purple>tbody>tr:hover>td,
		.table-responsive-vertical .table-hover.table-mc-deep-purple>tbody>tr:hover
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-hover.table-mc-deep-purple>tbody>tr>td:hover
		{
		background-color: #d1c4e9;
	}
}

.table-striped.table-mc-indigo>tbody>tr:nth-child(odd)>td,
	.table-striped.table-mc-indigo>tbody>tr:nth-child(odd)>th {
	background-color: #e8eaf6;
}

.table-hover.table-mc-indigo>tbody>tr:hover>td, .table-hover.table-mc-indigo>tbody>tr:hover>th
	{
	background-color: #c5cae9;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-indigo>tbody>tr>td,
		.table-responsive-vertical .table-striped.table-mc-indigo>tbody>tr:nth-child(odd)
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-striped.table-mc-indigo>tbody>tr>td:nth-child(odd)
		{
		background-color: #e8eaf6;
	}
	.table-responsive-vertical .table-hover.table-mc-indigo>tbody>tr:hover>td,
		.table-responsive-vertical .table-hover.table-mc-indigo>tbody>tr:hover
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-hover.table-mc-indigo>tbody>tr>td:hover
		{
		background-color: #c5cae9;
	}
}

.table-striped.table-mc-blue>tbody>tr:nth-child(odd)>td, .table-striped.table-mc-blue>tbody>tr:nth-child(odd)>th
	{
	background-color: #e7e9fd;
}

.table-hover.table-mc-blue>tbody>tr:hover>td, .table-hover.table-mc-blue>tbody>tr:hover>th
	{
	background-color: #d0d9ff;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-blue>tbody>tr>td,
		.table-responsive-vertical .table-striped.table-mc-blue>tbody>tr:nth-child(odd)
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-striped.table-mc-blue>tbody>tr>td:nth-child(odd)
		{
		background-color: #e7e9fd;
	}
	.table-responsive-vertical .table-hover.table-mc-blue>tbody>tr:hover>td,
		.table-responsive-vertical .table-hover.table-mc-blue>tbody>tr:hover {
		background-color: #fff;
	}
	.table-responsive-vertical .table-hover.table-mc-blue>tbody>tr>td:hover
		{
		background-color: #d0d9ff;
	}
}

.table-striped.table-mc-light-blue>tbody>tr:nth-child(odd)>td,
	.table-striped.table-mc-light-blue>tbody>tr:nth-child(odd)>th {
	background-color: #e1f5fe;
}

.table-hover.table-mc-light-blue>tbody>tr:hover>td, .table-hover.table-mc-light-blue>tbody>tr:hover>th
	{
	background-color: #b3e5fc;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-light-blue>tbody>tr>td,
		.table-responsive-vertical .table-striped.table-mc-light-blue>tbody>tr:nth-child(odd)
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-striped.table-mc-light-blue>tbody>tr>td:nth-child(odd)
		{
		background-color: #e1f5fe;
	}
	.table-responsive-vertical .table-hover.table-mc-light-blue>tbody>tr:hover>td,
		.table-responsive-vertical .table-hover.table-mc-light-blue>tbody>tr:hover
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-hover.table-mc-light-blue>tbody>tr>td:hover
		{
		background-color: #b3e5fc;
	}
}

.table-striped.table-mc-cyan>tbody>tr:nth-child(odd)>td, .table-striped.table-mc-cyan>tbody>tr:nth-child(odd)>th
	{
	background-color: #e0f7fa;
}

.table-hover.table-mc-cyan>tbody>tr:hover>td, .table-hover.table-mc-cyan>tbody>tr:hover>th
	{
	background-color: #b2ebf2;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-cyan>tbody>tr>td,
		.table-responsive-vertical .table-striped.table-mc-cyan>tbody>tr:nth-child(odd)
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-striped.table-mc-cyan>tbody>tr>td:nth-child(odd)
		{
		background-color: #e0f7fa;
	}
	.table-responsive-vertical .table-hover.table-mc-cyan>tbody>tr:hover>td,
		.table-responsive-vertical .table-hover.table-mc-cyan>tbody>tr:hover {
		background-color: #fff;
	}
	.table-responsive-vertical .table-hover.table-mc-cyan>tbody>tr>td:hover
		{
		background-color: #b2ebf2;
	}
}

.table-striped.table-mc-teal>tbody>tr:nth-child(odd)>td, .table-striped.table-mc-teal>tbody>tr:nth-child(odd)>th
	{
	background-color: #e0f2f1;
}

.table-hover.table-mc-teal>tbody>tr:hover>td, .table-hover.table-mc-teal>tbody>tr:hover>th
	{
	background-color: #b2dfdb;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-teal>tbody>tr>td,
		.table-responsive-vertical .table-striped.table-mc-teal>tbody>tr:nth-child(odd)
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-striped.table-mc-teal>tbody>tr>td:nth-child(odd)
		{
		background-color: #e0f2f1;
	}
	.table-responsive-vertical .table-hover.table-mc-teal>tbody>tr:hover>td,
		.table-responsive-vertical .table-hover.table-mc-teal>tbody>tr:hover {
		background-color: #fff;
	}
	.table-responsive-vertical .table-hover.table-mc-teal>tbody>tr>td:hover
		{
		background-color: #b2dfdb;
	}
}

.table-striped.table-mc-green>tbody>tr:nth-child(odd)>td, .table-striped.table-mc-green>tbody>tr:nth-child(odd)>th
	{
	background-color: #d0f8ce;
}

.table-hover.table-mc-green>tbody>tr:hover>td, .table-hover.table-mc-green>tbody>tr:hover>th
	{
	background-color: #a3e9a4;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-green>tbody>tr>td,
		.table-responsive-vertical .table-striped.table-mc-green>tbody>tr:nth-child(odd)
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-striped.table-mc-green>tbody>tr>td:nth-child(odd)
		{
		background-color: #d0f8ce;
	}
	.table-responsive-vertical .table-hover.table-mc-green>tbody>tr:hover>td,
		.table-responsive-vertical .table-hover.table-mc-green>tbody>tr:hover
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-hover.table-mc-green>tbody>tr>td:hover
		{
		background-color: #a3e9a4;
	}
}

.table-striped.table-mc-light-green>tbody>tr:nth-child(odd)>td,
	.table-striped.table-mc-light-green>tbody>tr:nth-child(odd)>th {
	background-color: #f1f8e9;
}

.table-hover.table-mc-light-green>tbody>tr:hover>td, .table-hover.table-mc-light-green>tbody>tr:hover>th
	{
	background-color: #dcedc8;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-light-green>tbody>tr>td,
		.table-responsive-vertical .table-striped.table-mc-light-green>tbody>tr:nth-child(odd)
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-striped.table-mc-light-green>tbody>tr>td:nth-child(odd)
		{
		background-color: #f1f8e9;
	}
	.table-responsive-vertical .table-hover.table-mc-light-green>tbody>tr:hover>td,
		.table-responsive-vertical .table-hover.table-mc-light-green>tbody>tr:hover
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-hover.table-mc-light-green>tbody>tr>td:hover
		{
		background-color: #dcedc8;
	}
}

.table-striped.table-mc-lime>tbody>tr:nth-child(odd)>td, .table-striped.table-mc-lime>tbody>tr:nth-child(odd)>th
	{
	background-color: #f9fbe7;
}

.table-hover.table-mc-lime>tbody>tr:hover>td, .table-hover.table-mc-lime>tbody>tr:hover>th
	{
	background-color: #f0f4c3;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-lime>tbody>tr>td,
		.table-responsive-vertical .table-striped.table-mc-lime>tbody>tr:nth-child(odd)
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-striped.table-mc-lime>tbody>tr>td:nth-child(odd)
		{
		background-color: #f9fbe7;
	}
	.table-responsive-vertical .table-hover.table-mc-lime>tbody>tr:hover>td,
		.table-responsive-vertical .table-hover.table-mc-lime>tbody>tr:hover {
		background-color: #fff;
	}
	.table-responsive-vertical .table-hover.table-mc-lime>tbody>tr>td:hover
		{
		background-color: #f0f4c3;
	}
}

.table-striped.table-mc-yellow>tbody>tr:nth-child(odd)>td,
	.table-striped.table-mc-yellow>tbody>tr:nth-child(odd)>th {
	background-color: #fffde7;
}

.table-hover.table-mc-yellow>tbody>tr:hover>td, .table-hover.table-mc-yellow>tbody>tr:hover>th
	{
	background-color: #fff9c4;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-yellow>tbody>tr>td,
		.table-responsive-vertical .table-striped.table-mc-yellow>tbody>tr:nth-child(odd)
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-striped.table-mc-yellow>tbody>tr>td:nth-child(odd)
		{
		background-color: #fffde7;
	}
	.table-responsive-vertical .table-hover.table-mc-yellow>tbody>tr:hover>td,
		.table-responsive-vertical .table-hover.table-mc-yellow>tbody>tr:hover
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-hover.table-mc-yellow>tbody>tr>td:hover
		{
		background-color: #fff9c4;
	}
}

.table-striped.table-mc-amber>tbody>tr:nth-child(odd)>td, .table-striped.table-mc-amber>tbody>tr:nth-child(odd)>th
	{
	background-color: #fff8e1;
}

.table-hover.table-mc-amber>tbody>tr:hover>td, .table-hover.table-mc-amber>tbody>tr:hover>th
	{
	background-color: #ffecb3;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-amber>tbody>tr>td,
		.table-responsive-vertical .table-striped.table-mc-amber>tbody>tr:nth-child(odd)
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-striped.table-mc-amber>tbody>tr>td:nth-child(odd)
		{
		background-color: #fff8e1;
	}
	.table-responsive-vertical .table-hover.table-mc-amber>tbody>tr:hover>td,
		.table-responsive-vertical .table-hover.table-mc-amber>tbody>tr:hover
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-hover.table-mc-amber>tbody>tr>td:hover
		{
		background-color: #ffecb3;
	}
}

.table-striped.table-mc-orange>tbody>tr:nth-child(odd)>td,
	.table-striped.table-mc-orange>tbody>tr:nth-child(odd)>th {
	background-color: #fff3e0;
}

.table-hover.table-mc-orange>tbody>tr:hover>td, .table-hover.table-mc-orange>tbody>tr:hover>th
	{
	background-color: #ffe0b2;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-orange>tbody>tr>td,
		.table-responsive-vertical .table-striped.table-mc-orange>tbody>tr:nth-child(odd)
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-striped.table-mc-orange>tbody>tr>td:nth-child(odd)
		{
		background-color: #fff3e0;
	}
	.table-responsive-vertical .table-hover.table-mc-orange>tbody>tr:hover>td,
		.table-responsive-vertical .table-hover.table-mc-orange>tbody>tr:hover
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-hover.table-mc-orange>tbody>tr>td:hover
		{
		background-color: #ffe0b2;
	}
}

.table-striped.table-mc-deep-orange>tbody>tr:nth-child(odd)>td,
	.table-striped.table-mc-deep-orange>tbody>tr:nth-child(odd)>th {
	background-color: #fbe9e7;
}

.table-hover.table-mc-deep-orange>tbody>tr:hover>td, .table-hover.table-mc-deep-orange>tbody>tr:hover>th
	{
	background-color: #ffccbc;
}

@media screen and (max-width: 767px) {
	.table-responsive-vertical .table-striped.table-mc-deep-orange>tbody>tr>td,
		.table-responsive-vertical .table-striped.table-mc-deep-orange>tbody>tr:nth-child(odd)
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-striped.table-mc-deep-orange>tbody>tr>td:nth-child(odd)
		{
		background-color: #fbe9e7;
	}
	.table-responsive-vertical .table-hover.table-mc-deep-orange>tbody>tr:hover>td,
		.table-responsive-vertical .table-hover.table-mc-deep-orange>tbody>tr:hover
		{
		background-color: #fff;
	}
	.table-responsive-vertical .table-hover.table-mc-deep-orange>tbody>tr>td:hover
		{
		background-color: #ffccbc;
	}
}

/* [Object] Modal
 * =============================== */
#parent {
	white-space: pre-wrap;
}

#parent * {
	white-space: initial;
}

.modal {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: left;
	background: rgba(0, 0, 0, .9);
	transition: opacity .25s ease;
}

.modal__bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	cursor: pointer;
}

.modal-state {
	display: none;
}

.modal-state:checked+.modal {
	opacity: 1;
	visibility: visible;
}

.modal-state:checked+.modal .modal__inner {
	top: 0;
}

.modal__inner {
	transition: top .25s ease;
	position: absolute;
	top: -20%;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	margin: auto;
	overflow: auto;
	background: #fff;
	border-radius: 5px;
	padding: 1em 2em;
	height: 50%;
}

.modal__close {
	position: absolute;
	right: 1em;
	top: 1em;
	width: 1.1em;
	height: 1.1em;
	cursor: pointer;
}

.modal__close:after, .modal__close:before {
	content: '';
	position: absolute;
	width: 2px;
	height: 1.5em;
	background: #ccc;
	display: block;
	transform: rotate(45deg);
	left: 50%;
	margin: -3px 0 0 -1px;
	top: 0;
}

.modal__close:hover:after, .modal__close:hover:before {
	background: #aaa;
}

.modal__close:before {
	transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	.modal__inner {
		width: 90%;
		height: 90%;
		box-sizing: border-box;
	}
}

/* Other
 * =============================== */
body {
	padding: 1%;
	font: 1/1.5em sans-serif;
	text-align: center;
}

.btn {
	cursor: pointer;
	background: #c0c0c0;
	display: inline-block;
	padding: .5em 1em;
	color: #fff;
	border-radius: 3px;
}

.btn:hover, .btn:focus {
	background: #c0c0c0;
}

.btn:active {
	background: #c0c0c0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2) inset;
}

.btn--blue {
	background: #2980b9;
}

.btn--blue:hover, .btn--blue:focus {
	background: #3498db;
}

.btn--blue:active {
	background: #2980b9;
}

p img {
	max-width: 200px;
	height: auto;
	float: left;
	margin: 0 1em 1em 0;
}

/*
*=======================================
* Search Bar
*/
body {
	background: #eee;
	font: 12px Lucida sans, Arial, Helvetica, sans-serif;
	color: #333;
	text-align: center;
}

a {
	color: #2A679F;
}
/*========*/
.form-wrapper {
	background-color: #ffffff;
	border-color: #dedede #bababa #aaa #bababa;
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 3px 3px rgba(255, 255, 255, .1), 0 3px 0 #bbb, 0
		4px 0 #aaa, 0 5px 5px #444;
	-moz-box-shadow: 0 3px 3px rgba(255, 255, 255, .1), 0 3px 0 #bbb, 0 4px
		0 #aaa, 0 5px 5px #444;
	box-shadow: 0 3px 3px rgba(255, 255, 255, .1), 0 3px 0 #bbb, 0 4px 0
		#aaa, 0 5px 5px #444;
	margin: 100px auto;
	overflow: hidden;
	padding: 16px;
	width: 85%;
}

.form-wrapper #origin {
	border: 1px solid #CCC;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #999;
	float: left;
	font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
	height: 20px;
	padding: 10px;
	width: 40%;
}

.form-wrapper #origin:focus {
	border-color: #aaa;
	-webkit-box-shadow: 0 1px 1px #bbb inset;
	-moz-box-shadow: 0 1px 1px #bbb inset;
	box-shadow: 0 1px 1px #bbb inset;
	outline: 0;
}

.form-wrapper #origin:-moz-placeholder, .form-wrapper #origin:-ms-input-placeholder,
	.form-wrapper #origin::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
}

.form-wrapper #destination {
	border: 1px solid #CCC;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #999;
	float: left;
	font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
	height: 20px;
	padding: 10px;
	width: 40%;
}

.form-wrapper #destination:focus {
	border-color: #aaa;
	-webkit-box-shadow: 0 1px 1px #bbb inset;
	-moz-box-shadow: 0 1px 1px #bbb inset;
	box-shadow: 0 1px 1px #bbb inset;
	outline: 0;
}

.form-wrapper #destination:-moz-placeholder, .form-wrapper #destination:-ms-input-placeholder,
	.form-wrapper #destination::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
}

.form-wrapper #submit {
	background-color: #0483a0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3),
		to(#0483a0));
	background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
	background-image: linear-gradient(top, #31b2c3, #0483a0);
	border: 1px solid #00748f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	color: #fafafa;
	cursor: pointer;
	height: 42px;
	float: right;
	font: 15px Arial, Helvetica;
	padding: 0;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
	width: 10%;
}

.form-wrapper #submit:hover, .form-wrapper #submit:focus {
	background-color: #31b2c3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0),
		to(#31b2c3));
	background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
	background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
	background-image: linear-gradient(top, #0483a0, #31b2c3);
}

.form-wrapper #submit:active {
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	outline: 0;
}

.form-wrapper #submit::-moz-focus-inner {
	border: 0;
}

/*
*=============================== Header and Footer
*/
html, #page {
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #959595;
	font: normal 12px/2.0em Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
	color: darkblue;
}

#page {
	background: #eee;
}

#header, #footer, #top-nav, #content, #content #contentbar, #content #sidebar
	{
	margin: 0;
	padding: 0;
}

/* Logo */
#logo {
	padding: 10px;
	width: auto;
	float: left;
}

#logo h1 a, h1 a:hover {
	color: darkblue;
	text-decoration: none;
}

#logo h1 span {
	color: #d3d3f9;
}

/* Header */
#header {
	background: #eee;
}

#header-inner {
	margin: 0 auto;
	padding: 10px;
	width: 970px;
	background: #fff;
}

/* Feature */
.feature {
	background: #eee;
	padding: 0;
}

.feature-inner {
	margin: auto;
	padding: 10px;
	width: 970px;
	background: blue;
}

.feature-inner h1 {
	color: #d3d3f9;
	font-size: 32px;
}

/* Menu */

#error_message {
	color: #ff0000;
	font-weight: bold;
	text-decoration: none;
	margin: 10 auto;
}

.error_message {
	color: #ff0000;
	font-weight: bold;
	text-decoration: none;
	margin: 10 auto;
}

error_message {
	color: #ff0000;
	font-weight: bold;
	text-decoration: none;
	margin: 10 auto;
}

#top-nav {
	margin: 0 auto;
	padding: 0px 0 0;
	height: 37px;
	float: right;
}

#top-nav ul {
	list-style: none;
	padding: 0;
	height: 37px;
	float: left;
}

#top-nav ul li {
	margin: 0;
	padding: 0 0 0 8px;
	float: left;
}

#top-nav ul li a {
	display: block;
	margin: 0;
	padding: 8px 20px;
	color: blue;
	text-decoration: none;
}

#top-nav ul li.active a, #top-nav ul li a:hover {
	color: #d3d3f9;
}

/* Content */
#content-inner {
	margin: 0 auto;
	padding: 10px;
	width: 970px;
	background: #fff;
}

#content #contentbar {
	margin: 0;
	padding: 0;
	float: right;
	width: 760px;
}

#content #contentbar .article {
	margin: 0 0 24px;
	padding: 0 20px 0 15px;
}

#content #sidebar {
	padding: 0;
	float: left;
	width: 200px;
}

#content #sidebar .widget {
	margin: 0 0 12px;
	padding: 8px 8px 8px 13px;
	line-height: 1.4em;
}

#content #sidebar .widget h3 a {
	text-decoration: none;
}

#content #sidebar .widget ul {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #959595;
}

#content #sidebar .widget ul li {
	margin: 0;
}

#content #sidebar .widget ul li {
	padding: 4px 0;
	width: 185px;
}

#content #sidebar .widget ul li a {
	color: blue;
	text-decoration: none;
	margin-left: -16px;
	padding: 4px 8px 4px 16px;
}

#content #sidebar .widget ul li a:hover {
	color: #d3d3f9;
	font-weight: bold;
	text-decoration: none;
}

/* Footerblurb */
#footerblurb {
	background: #eee;
	color: blue;
}

#footerblurb-inner {
	margin: 0 auto;
	width: 970px;
	padding: 10px;
	background: #d3d3f9;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

#footerblurb .column {
	margin: 0;
	text-align: justify;
	float: left;
	width: 250px;
	padding: 0 24px;
}

/* Footer */
#footer {
	background: #eee;
}

#footer-inner {
	margin: auto;
	text-align: center;
	padding: 12px;
	width: 970px;
}

#footer a {
	color: blue;
	text-decoration: none;
}

/* Clear both sides to assist with div alignment  */
.clr {
	clear: both;
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 0px;
	line-height: 0px;
}


