<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>KLM Case X01 Solution</title>
<link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
<link rel="stylesheet" type="text/javascript" th:href="@{/index.css}" />
</head>
<body>
	<div id="page">
		<header id="header">
			<div id="header-inner">
				<div id="logo">
					<h1>
						<a th:href="@{/home?sortBy=name}">My<span>Logo</span></a>
					</h1>
				</div>
				<div id="top-nav">
						<ul>
							<li><form action="/travel/fares">
									<input type="text" id="origin" placeholder="Origin..."
										name="origin" required="true" /> <input type="text"
										id="destination" placeholder="Destination..."
										name="destination" required="true" /> <input type="submit"
										value="go" id="submit" />
								</form></li>
							<li><a th:href="@{/home?sortBy=name}">Destinations</a></li>
							<li><a href="index.html">About</a></li>
						</ul>
				</div>
				<div class="clr"></div>
			</div>
		</header>
	</div>
	<div th:if="${error_message}" class="error_message" id="error_message">
		<span style="color: #ff0000;" class="error_message" id="error_message" th:text="${error_message}"></span>
	</div>
	
	<!-- Show The Fare Results if Available -->
	<div th:if="${fares}" id="demo">
		<div class="table-responsive-vertical shadow-z-1">
			<table id="table" class="table table-hover table-mc-light-blue">
				<tbody>
					<tr>
						<td data-title="origin" style="width:40%"><span th:text="${fares.getOriginLocation().getName()}"></span>, <span th:text="${fares.getOriginLocation().getDescription()}"></span></td>
						<td data-title="price" style="width:20%"><span th:text="${fares.getCurrency()}"></span> <span th:text="${fares.getAmount()}"></span></td>
						<td data-title="destination" style="width:40%"><span th:text="${fares.getDestinationLocation().getName()}"></span>, <span th:text="${fares.getOriginLocation().getDescription()}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Show The airports List if Available -->
	<div th:if=" ${partition}" id="demo">
		<h1>Destinations</h1>
		<h2>List of all available airports</h2>
		<div class="table-responsive-vertical shadow-z-1">
			<table id="table" class="table table-hover table-mc-light-blue">
				<thead>
					<tr>
						<th><a id="refresh-page"
							th:href="@{/home?sortBy=code&amp;descendingSort=}+!${descendingSort}"
							target="_self">Code</a></th>
						<th><a id="refresh-page"
							th:href="@{/home?sortBy=name&amp;descendingSort=}+!${descendingSort}"
							target="_self">Name</a></th>
						<th>Description</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="iterator : ${partition.getContent()}">
						<td data-title="ID" th:text="${iterator.getContent().getCode()}"></td>
						<td data-title="Name"
							th:text="${{iterator.getContent().getName()}}"></td>
						<td data-title="Status"
							th:text="${{iterator.getContent().getDescription()}}"></td>
						<td data-title="Link"><label class="btn btn--blue"
							th:for="${iterator.getContent().getCode()}">More info</label></td>
						<td><input class="modal-state"
							th:id="${iterator.getContent().getCode()}" type="checkbox" />
							<div class="modal">
								<label class="modal__bg"
									th:for="${iterator.getContent().getCode()}"></label>
								<div class="modal__inner">
									<label class="modal__close"
										th:for="${iterator.getContent().getCode()}"></label>
									<h2 style="text-align: left; font-weight: 400">
										<span th:text="${iterator.getContent().getName()}"></span>
									</h2>
									<p>
										<img th:src="@{/destination-image.jpg}" alt="" /> <span
											th:text="${iterator.getContent().getDescription()}"></span>
									</p>
									<p>
										Coordinates: <span
											th:if="${iterator.getContent().getCoordinates()}"
											th:text="${iterator.getContent().getCoordinates().getLatitude()}"></span>,
										<span th:if="${iterator.getContent().getCoordinates()}"
											th:text="${iterator.getContent().getCoordinates().getLongitude()}"></span>
									</p>
									<p>Parent:
									<div th:each="parent : ${iterator.getContent().getParent()}">
										<span th:text="${parent.getName()}"></span> , <span
											th:if="${parent.getParent()}" th:text="${parent.getName()}"></span>
									</div>
									</p>

									<p>
										<span th:if="${iterator.getContent().getChildren()}">Child
											Locations:</span>
									<div th:each="child : ${iterator.getContent().getChildren()}">
										<span th:text="${child.getName()}"></span>,
									</div>
									<br />
									</p>
								</div>
							</div></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="table-responsive-vertical shadow-z-1">
			<table id="table" class="table table-hover table-mc-light-blue">
				<thead>
					<tr>
						<th style="text-align: left;"><label class="btn"
							th:classappend="${partition.getMetadata().getNumber()}!=1 ? btn--blue"><a
								id="refresh-page" th:href="${first}" target="_self">|&lt;</a></label>&nbsp;<label
							class="btn"
							th:classappend="${partition.getMetadata().getNumber()}!=1 ? btn--blue"><a
								id="refresh-page" th:href="${previous}" target="_self">&lt;</a></label></th>
						<th style="text-align: center;">Page <input type="text"
							name="pageNumber" maxlength="3" size="1"
							th:value="${partition.getMetadata().getNumber()}" readonly="true" />
							of <span th:text="${partition.getMetadata().getTotalPages()}"></span></th>
						<th style="text-align: right;"><label class="btn"
							th:classappend="${partition.getMetadata().getNumber()}!=${partition.getMetadata().getTotalPages()} ? btn--blue"><a
								id="refresh-page" th:href="${next}" target="_self">&gt;</a></label>
							&nbsp; <label class="btn"
							th:classappend="${partition.getMetadata().getNumber()}!=${partition.getMetadata().getTotalPages()} ? btn--blue">
								<a id="refresh-page" th:href="${last}" target="_self">&gt;|</a>
						</label></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</body>
</html>
